***********************************
<p>Name: <%= @contact.name %></p>
<p>Address: <%= @contact.address %></p>
<p>Phone number: <%= @contact.phone_number %></p>
<p>E-mail: <%= @contact.email %></p>
***********************************
